.WeatherForecast {
  text-align: center;
}

.Temp-max {
  font-weight: 900;
}

.Temp-min {
  opacity: 0.6;
  margin-left: 5px;
}

@media (max-width: 499px) {
  .WeatherForecast {
    padding: 0;
    font-size: 0.8em;
  }
  .WeatherForecast img {
    height: 50px;
    width: 50px;
  }
}
